<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <b>Tell us your email address:</b><br />
    <%= f.text_field :email %>
  </div>
  <%= f.hidden_field :code %>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
