
<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <div class="panel text-center">
      <div id="registrations"></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-2 col-lg-offset-3">
    <div class="panel text-center">
      <h1>X,XXX</h1>
      <p>PAGEVIEWS</p>
    </div>
  </div>
  <div class="col-lg-2">
    <div class="panel text-center">
      <h1><%= @users.count %></h1>
      <p>REGISTRATIONS</p>
    </div>
  </div>
  <div class="col-lg-2">
    <div class="panel text-center">
      <h1>XX</h1>
      <p>REFERRALS</p>
    </div>
  </div>
</div>
<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <%= link_to "Export", users_path(format: "xls"), :class=>"btn btn-default pull-right" %><br /><br />
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <table class="table-hover table-striped users-table pretty" cellpadding="5px" style="width:100%;">
          <thead>
            <tr>
              <th><%= sortable "email", "Email Address" %></th>
              <th><%= sortable "count", "Referral Count" %></th>
              <th><%= sortable "created_at", "Join Date" %></th>
              <th>Delete</th>
            </tr>
          </thead>
        <% @users.each do |user|  %>
          <tr>
            <td><%= user.email %></td>
            <td><%= user.count %></td>
            <td><%= user.created_at.to_date %></td>
            <td><%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
        </table>
        <%= paginate @users, :remote=>true %>
    </div>
</div>

<script>
Morris.Line({
  element: 'registrations',
  data: [
    { y: '2006', a: 100},
    { y: '2007', a: 75},
    { y: '2008', a: 50},
    { y: '2009', a: 75},
    { y: '2010', a: 50},
    { y: '2011', a: 75},
    { y: '2012', a: 100}
  ],
  xkey: 'y',
  ykeys: ['a'],
});
</script>