<% @users = User.all %>

<h1>Listing users</h1>

<table>
  <tr>
    <th>Email</th>
    <th>Code</th>
    <th>Count</th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.email %></td>
    <td><%= user.code %></td>
    <td><%= user.count %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

